div content{
    max-width: 1600px;
}
section {
    text-align: center;
}
div content {
    text-align: center;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: beige;
}
header {
    background-color: rgb(134, 130, 125);
}
nav a:hover {
    background-color: rgb(31, 31, 214);
    color: white;
}
.book, .join {
    background-color: rgba(0, 0, 255, 0.61);
    color: rgb(15, 15, 15);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: aqua;
    color: aliceblue;
}
#background {
    background-color: rgb(171, 177, 175);
}
.msg {
    background-color: blanchedalmond;
    color: rgb(19, 18, 18);
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
footer {
    background-color: rgb(163, 166, 168);
}
.home-title {
    color: rgb(0, 8, 8);
    margin-top: 10px;
}
h4 {
    color: ff#002;
}
.msg h2 {
    color: rgb(8, 8, 8);
}
msg p {
    color: #002;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
footer h3 {
    color: #002;
}
footer {
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a:hover {
    color: aqua;
}
#hero-img {
    width: 100%;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
footer h3 a:hover {
    text-decoration: none;
    
}
a {
    text-decoration: none;
}
.home-title {
    font-family: 'Rock Salt', 'Brandley Hand', sans-serif;
    font-size: 2em;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
}
body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-cards, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #e9e0d8;
}
main section img {
    box-sizing: border-box;
}